In [1]:
import numpy as np

In [2]:
import pandas as pd

In [25]:
from numpy.random import randn

In [26]:
np.random.seed(101)

In [31]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [32]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [33]:
df['W']

A   -0.993263
B    1.025984
C    2.154846
D    0.147027
E   -0.925874
Name: W, dtype: float64

In [34]:
type(df['W'])

pandas.core.series.Series

In [35]:
type(df)

pandas.core.frame.DataFrame

In [37]:
df[['W','Z']]

          W         Z
A -0.993263  0.000366
B  1.025984  0.649826
C  2.154846 -0.346419
D  0.147027  1.024810
E -0.925874  0.610478

In [38]:
df['new'] = df['W'] + df['Y']

In [39]:
df

          W         X         Y         Z       new
A -0.993263  0.196800 -1.136645  0.000366 -2.129908
B  1.025984 -0.156598 -0.031579  0.649826  0.994405
C  2.154846 -0.610259 -0.755325 -0.346419  1.399521
D  0.147027 -0.479448  0.558769  1.024810  0.705796
E -0.925874  1.862864 -1.133817  0.610478 -2.059691

In [42]:
df.drop('new', axis=1, inplace = True)

In [43]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [45]:
df.drop('E', axis = 0)

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810

In [46]:
df.shape

(5, 4)

In [47]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [49]:
df[['Z','X']]

          Z         X
A  0.000366  0.196800
B  0.649826 -0.156598
C -0.346419 -0.610259
D  1.024810 -0.479448
E  0.610478  1.862864

In [50]:
#ROWS

In [51]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [53]:
df.loc[['A','C']]

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
C  2.154846 -0.610259 -0.755325 -0.346419

In [54]:
df.iloc[2]

W    2.154846
X   -0.610259
Y   -0.755325
Z   -0.346419
Name: C, dtype: float64

In [55]:
df.loc['B','Y']

-0.031579143908112575

In [56]:
df.loc[['A','B'],['W','Y']]

          W         Y
A -0.993263 -1.136645
B  1.025984 -0.031579

In [57]:
df > 0

       W      X      Y      Z
A  False   True  False   True
B   True  False  False   True
C   True  False  False  False
D   True  False   True   True
E  False   True  False   True

In [59]:
df[df >0]

          W         X         Y         Z
A       NaN  0.196800       NaN  0.000366
B  1.025984       NaN       NaN  0.649826
C  2.154846       NaN       NaN       NaN
D  0.147027       NaN  0.558769  1.024810
E       NaN  1.862864       NaN  0.610478

In [72]:
resultdf = df[df['W'] > 0]

In [73]:
resultdf['X']

B   -0.156598
C   -0.610259
D   -0.479448
Name: X, dtype: float64

In [83]:
df[(df['W']>0)|(df['Y']>0)]

          W         X         Y         Z
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810

In [84]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [85]:
df.reset_index(
)

  index         W         X         Y         Z
0     A -0.993263  0.196800 -1.136645  0.000366
1     B  1.025984 -0.156598 -0.031579  0.649826
2     C  2.154846 -0.610259 -0.755325 -0.346419
3     D  0.147027 -0.479448  0.558769  1.024810
4     E -0.925874  1.862864 -1.133817  0.610478

In [87]:
newind = 'ca np wu pr cp'.split()

In [88]:
newind

['ca', 'np', 'wu', 'pr', 'cp']

In [90]:
df['States'] = newind

In [91]:
df

          W         X         Y         Z States
A -0.993263  0.196800 -1.136645  0.000366     ca
B  1.025984 -0.156598 -0.031579  0.649826     np
C  2.154846 -0.610259 -0.755325 -0.346419     wu
D  0.147027 -0.479448  0.558769  1.024810     pr
E -0.925874  1.862864 -1.133817  0.610478     cp

In [92]:
df.set_index('States')

               W         X         Y         Z
States
ca     -0.993263  0.196800 -1.136645  0.000366
np      1.025984 -0.156598 -0.031579  0.649826
wu      2.154846 -0.610259 -0.755325 -0.346419
pr      0.147027 -0.479448  0.558769  1.024810
cp     -0.925874  1.862864 -1.133817  0.610478

In [93]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [94]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1  0.386030  2.084019
   2 -0.376519  0.230336
   3  0.681209  1.035125
G2 1 -0.031160  1.939932
   2 -1.005187 -0.741790
   3  0.187125 -0.732845

In [96]:
df.loc['G1'].loc[1]

A    0.386030
B    2.084019
Name: 1, dtype: float64

In [100]:
df.index.names = ['Gp','Nums']

In [101]:
df

                A         B
Gp Nums
G1 1     0.386030  2.084019
   2    -0.376519  0.230336
   3     0.681209  1.035125
G2 1    -0.031160  1.939932
   2    -1.005187 -0.741790
   3     0.187125 -0.732845

In [104]:
df

                A         B
Gp Nums
G1 1     0.386030  2.084019
   2    -0.376519  0.230336
   3     0.681209  1.035125
G2 1    -0.031160  1.939932
   2    -1.005187 -0.741790
   3     0.187125 -0.732845

In [109]:
df.xs(1, level='Nums')

          A         B
Gp
G1  0.38603  2.084019
G2 -0.03116  1.939932