In [1]:
import pandas as pd

In [2]:
pwd

'/Users/Michelle/Downloads/Refactored_Py_DS_ML_Bootcamp-master/03-Python-for-Data-Analysis-Pandas'

In [6]:
df = pd.read_csv('example')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [7]:
df.to_csv('My_output', index = False)

In [8]:
pd.read_csv('My_output')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [13]:
pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [14]:
df.to_excel('Excel_Sample2.xlsx',sheet_name='Sheet1')

In [17]:
dat = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

In [19]:
type(dat)

list

In [21]:
dat[0].head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.","May 31, 2019","June 18, 2019"
1,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017","February 1, 2019"
2,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,"October 13, 2017","February 21, 2018"
3,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb","May 26, 2017","January 29, 2019"
4,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,"May 5, 2017","March 22, 2018"

In [32]:
from sqlalchemy import create_engine

In [31]:
engine = create_engine('sqlite:///:memory:')

In [35]:
df.to_sql('table', engine)

AttributeError: 'list' object has no attribute 'to_sql'

In [34]:
sql_df = pd.read_sql('tal',con=engine)

OperationalError: (sqlite3.OperationalError) near "data": syntax error
[SQL: data]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [30]:
sqldf

NameError: name 'sqldf' is not defined